#root {
  width: 100%;
  margin: 0 auto;
  
  text-align: center;
  padding: 5px 20px;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
