@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Fleur+De+Leah&family=Ms+Madi&display=swap');

:root {
  
  line-height: 1.5;
  font-weight: 400;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Ancizar Serif', serif;
  font-optical-sizing: auto;
  font-size:14px;
  color: #e8ede4;

  background: #0a2405;
  background: linear-gradient(90deg,rgba(10, 36, 5, 1) 0%, rgba(10, 17, 2, 1) 50%, rgba(10, 36, 5, 1) 100%);
  background-attachment: fixed;
}




h1, h2{
  color:#2e8b57;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Ms Madi', cursive;  
  font-weight: 200;  
  font-style: normal;
  margin:0px;
  
}

h1::first-letter, h2::first-letter{
  font-family: 'Fleur De Leah', cursive;  
  font-weight: 400;  
  font-style: normal;
  
}

h2 {
  transform: rotate(-1deg);
  font-size:40px;
}

h2::first-letter{
  font-size:44px;
  padding-right:3px;  
}

hr {
  border: 0;   
  height: 1px;  
  background-image: linear-gradient(to right, #72aa8444, #2e8b57, #72aa8444); 
  margin-top:-11px;
}

header {
  min-height:100px;
}

header h1 {
  font-size:60px;  
  padding: 0px;
  margin: 0px;
}

header h1::first-letter {
  font-size:63px;
  padding-right:2px; 
}

header p {
  font-style: italic;
  padding: 0px;
  margin: 0px;
  margin-top:-15px;
}


.main-header {
  padding-left: 10px;
  padding-right: 10px; 
  margin-left:-10px;
  transform: rotate(-1deg);
  text-align: center;
  border-bottom:solid 2px #2e8b5744;
  border-top:solid 2px #2e8b5744;
  background: url('https://i.postimg.cc/kgLnnSDP/pozadi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 500px;
  height: 60px;

  display: flex;             
  justify-content: center;   
  align-items: center;                 
  overflow: visible;

  margin-top: 25px;
}

.main-header h1{  
  font-size:60px;  
  padding-top:-18px;
 
}

.main-header h1::first-letter {
  font-size:63px;
  padding-right:2px;
}

.text-highlighter {
  color:#2e8b57;
  text-shadow: 1px 1px 5px #000000;
  font-style: italic;
  font-weight: bold;
}

.img-50 {
  width:50%;
}

.img-30 {
  width:30%;
}

.img-margin-left-20 {
  margin-left:20px;
}

.img-margin-right-20 {
  margin-right:20px;
}

.img-char {
  width: 27%; 
  border: solid 2px #2e8b57; 
  margin:0px;
}



.content {
  width:500px;
}

.content p {
  text-align: justify;
}

.main-nav {
  border-bottom:solid 2px #2e8b5744;
  border-top:solid 2px #2e8b5744;
  padding-top:5px;
  padding-bottom: 5px;
}

.second-nav {
  border-bottom:solid 2px #2e8b5744;
  padding-top:5px;
  padding-bottom: 5px;
}

.main-nav > a, .second-nav > a {
  margin-left: 5px;
  margin-right: 5px;
}

.main-nav a, .second-nav a {
  text-decoration: none;
  font-family: 'Ancizar Serif', serif;
  font-optical-sizing: auto;
  font-size:14px;
  color: #e8ede4;

}